.resume {
    width: calc(100% - 10rem);
    max-width: 900px;
    height: 100%;
    margin: 3rem auto;
    margin-bottom: 5rem;

    hr {
        color: #aaaaaa;
    }

    h1 {
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-weight: 400;
        color: #545454;
        margin-bottom: .5rem;
    }

    &__header {
        text-align: center;

        .links {
            width: 55%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .divider {
            color: #aaaaaa;
        }

        p, a {
            margin: 0;
            color: #5F5F5F;
        }

        p {
            margin-bottom: .3rem;
        }

        a:link, a:visited {
            color: #000;
            text-decoration: none;
        }
    }

    &__mission-statement {
        p {
            line-height: 1.5;
            margin: 2rem 4rem;
        }
    }

    &__skills {
        margin: 0 4rem;
        margin-bottom: 3rem;
    }

    &__experience {
        margin: 0rem 4rem;
        margin-bottom: 3rem;

        h1 {
            margin-bottom: 0;
        }

        .tags {
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            p {
                margin: 0;
            }
        }

        .neverstop {
            .tags {
                width: 63%;
            }
        }
    }

    &__education {
        margin: 0rem 4rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 700px) {
    .resume {
        width: calc(100% - 4rem);
    }
}