.resume {
    width: calc(100% - 10rem);
    max-width: 900px;
    height: 100%;
    margin: 3rem auto;
    margin-bottom: 5rem;
    position: relative;

    .back-to-top {
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        display: none;
        width: 40px;
        height: 40px;
        background: #474747;
        cursor: pointer;

        .up {
            position: absolute;
            top: 30%;
            left: 40%;
            transform: rotate(-135deg) translate(-50%, -50%);
            border: 2px solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        button {
            color: #fff;
            font-size: 1.2rem;
            cursor: pointer;
        }

        &.show {
            display: block;
        }
    }

    .hr {
        border-bottom: .5px solid #E6E7E8;
    }

    .name {
        color: #4D4D4D;
        font-size: 1.8rem;
    }

    h1 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 400;
        color: #656565;
        margin-bottom: .5rem;
    }

    p {
        color: #434343;
    }

    &__header {
        text-align: center;

        .links {
            width: 55%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 1rem;
            color: #A1A1A1;
        }

        .divider {
            color: #E6E7E8;
        }

        p, a {
            margin: 0;
            color: #434343;
        }

        p {
            margin-bottom: .3rem;
        }

        a:link, a:visited {
            color: #000;
            text-decoration: none;
        }
    }

    &__mission-statement {
        p {
            line-height: 1.5;
            margin: 2rem 4rem;
        }
    }

    &__skills {
        margin: 0 4rem;
        margin-bottom: 3rem;
    }

    &__experience {
        margin: 0rem 4rem;
        margin-bottom: 3rem;

        h1 {
            margin-bottom: 0;
        }

        .tags {
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            margin-top: 3rem;

            &.top {
                margin-top: .4rem;
            }

            p {
                margin: 0;
            }
        }

        .neverstop {
            .tags {
                width: 63%;
            }
        }
    }

    &__education {
        margin: 0rem 4rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 700px) {
    .resume {
        width: calc(100% - 4rem);
    }
}