.resume {
    width: calc(100% - 10rem);
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    margin-top: 3rem;

    &__header {

        h1 {
            text-transform: uppercase;
            font-size: 1.4rem;
        }

        h1, p, a {
            margin: 0;
            font-weight: 800;
        }

        p {
            margin-bottom: .3rem;
        }

        a:link, a:visited {
            color: #000;
        }
    }

    &__skills {
        .resume-skills-inner {
            p {
                margin-bottom: 1.5rem;
            }

            .title {
                margin: 0;
            }
        }
    }

    &__education, &__contact {
        a:link, a:visited {
            color: #000;
        }
    }
}

@media (max-width: 700px) {
    .resume {
        width: calc(100% - 4rem);
    }
}